.git
.env
api/coverage.out
node_modules
packages/client/node_modules
packages/client/dist
packages/viewer/node_modules
packages/viewer/dist
packages/viewer/coverage
packages/viewer/playwright-report
packages/viewer/test-results
